<h2>Form Input Buku</h2>

<form action="<?= base_url('buku/simpan') ?>" method="post">

<input type="text" name="kode_buku" placeholder="Kode Buku" required><br><br>
<input type="text" name="judul" placeholder="Judul Buku" required><br><br>
<input type="text" name="penulis" placeholder="Penulis"><br><br>
<input type="text" name="penerbit" placeholder="Penerbit"><br><br>
<input type="number" name="tahun" placeholder="Tahun"><br><br>

<select name="kategori">
<?php foreach($kategori as $k){ ?>
    <option value="<?= $k->id ?>"><?= $k->nama_kategori ?></option>
<?php } ?>
</select><br><br>

<input type="number" name="stok" placeholder="Stok"><br><br>
<input type="text" name="lokasi_rak" placeholder="Lokasi Rak"><br><br>

<button type="submit">Simpan</button>
</form>